[alias]
        st = status
        co = checkout
        lg = log --oneline -n 10
        lgn = log --oneline -n
        r = restore
        ds = diff --staged
        cm = commit -m
[core]
        editor = vim
[init]
        defaultBranch = main
[include]
        path = ~/.gitconfig-personal
